<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>НСХ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!---<link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400" rel="stylesheet">--->
    <link href="https://fonts.googleapis.com/css?family=Caveat&amp;subset=cyrillic" rel="stylesheet">




    <!-- Animate.css -->
    <link rel="stylesheet" href="../public/css/animate.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="../public/css/bootstrap.css">
    <!-- Style -->
    <link rel="stylesheet" href="../public/css/style.css">
    
    <script src="../js/scripts.js"></script>

    <!-- Modernizr JS -->
    <script src="../js/modernizr-2.6.2.min.js"></script>
    <!------------------------------------------------------------>
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <!------------------------------------------------------------>

</head>

<body>
    <!-- Шапка -->
    <% include blocks/header.ejs %>

    <!-- Секция поиска, главная-->
    <% include blocks/section.ejs %>

    <div class="allCarts">
        <!-- Секция со всеми хобби -->
        <% include blocks/cart_stat.ejs %>
    </div>
    <!---------------------------------- -->

    <div class="sportCarts" style="display:none">
        <% include blocks/search.ejs %>

        <% include blocks/contentOrgs.ejs %>

    </div>

    <!---<a href="#" class="archive" id="loadsportCarts">Показать еще</a>--->
    <!-- Footer -->
    <% include blocks/footer.ejs %>





    <script>
        showSportCarts()
    </script>

    <!-- jQuery -->
    <script src="../js/scripts.js"></script>
    <script src="../js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="../js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="../js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="../js/jquery.waypoints.min.js"></script>
    <!-- Stellar Parallax -->
    <script src="../js/jquery.stellar.min.js"></script>
    <!-- Counters -->
    <script src="../js/jquery.countTo.js"></script>
    <!-- Main JS (Do not remove) -->
    <script src="../js/main.js"></script>

</body>

</html>