<section style="padding: 50px 0 100px;" >
	<div class="container">
		<div class="row">
			<div class="col-md-12 section-heading text-center">
				<h2 class="animate-box">Выбери занятие себе по душе</h2>
			</div>
		</div>
	</div>


	<div class="fh5co-project">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="fh5co-portfolio animate-box">
						<a href="#" id="loadsportCarts">
							<div class="portfolio-entry" style="background-image: url(images/sport.jpg);">
								<div class="desc">
									<p>В каталоге собраны оранизации, помогающие приобщиться
										к различным видам спорта на любой вкус</p>
								</div>
							</div>
							<div class="portfolio-text text-center">
								<h3>Спорт</h3>
							</div>
						</a>
					</div>
				</div>


				<div class="col-md-4">
					<div class="fh5co-portfolio animate-box">
						<a href="#">
							<div class="portfolio-entry" style="background-image: url(images/lan.jpg);">
								<div class="desc">
									<p>Мы собрали все лучшие школы, клубы, уроки, центры, курсы иностранных языков,
										языковые школы для детей и взрослых в Санкт-Петербурге.</p>
								</div>
							</div>
							<div class="portfolio-text text-center">
								<h3>Иностранные языки</h3>
							</div>
						</a>
					</div>
				</div>


				<div class="col-md-4">
					<div class="fh5co-portfolio animate-box">
						<a href="#">
							<div class="portfolio-entry" style="background-image: url(images/gon.jpg);">
								<div class="desc">
									<p>Гончарное дело невероятно интересное и увлекательное занятие. Здесь Вы сможете
										найти все студии и школы Санкт-Петербурга.</p>
								</div>
							</div>
							<div class="portfolio-text text-center">
								<h3>Гончарное дело</h3>
							</div>
						</a>
					</div>
				</div>


				<div class="col-md-4">
					<div class="fh5co-portfolio animate-box">
						<a href="#">
							<div class="portfolio-entry" style="background-image: url(images/dance.jpg);">
								<div class="desc">
									<p> В каталоге собраны лучшие танцевальные студии Санкт-Петербурга и вся полезная
										информация о них</p>
								</div>
							</div>
							<div class="portfolio-text text-center">
								<h3>Танцы</h3>
							</div>
						</a>
					</div>
				</div>


				<div class="col-md-4">
					<div class="fh5co-portfolio animate-box">
						<a href="#">
							<div class="portfolio-entry" style="background-image: url(images/art.jpg);">
								<div class="desc">
									<p>Изучите все азы рисования от древнего до современного искусства.</p>
								</div>
							</div>
							<div class="portfolio-text text-center">
								<h3>Рисование и творчество</h3>
							</div>
						</a>
					</div>
				</div>



				<div class="col-md-4">
					<div class="fh5co-portfolio animate-box">
						<a href="#">
							<div class="portfolio-entry" style="background-image: url(images/dec.jpg);">
								<div class="desc">
									<p>Проектирование эстетических свойств предметов является важнейшей частью решения
										социально-технических проблем человечества.</p>
								</div>
							</div>
							<div class="portfolio-text text-center">
								<h3>Дизайн и декор</h3>
							</div>
						</a>
					</div>
				</div>



				<div class="col-md-4">
					<div class="fh5co-portfolio animate-box">
						<a href="#">
							<div class="portfolio-entry" style="background-image: url(images/mus.jpg);">
								<div class="desc">
									<p>Все лучшие вокальные занятия, уроки, курсы, студии, школы вокала для детей,
										взрослых и людей в возрасте.</p>
								</div>
							</div>
							<div class="portfolio-text text-center">
								<h3>Музыка</h3>
							</div>
						</a>
					</div>
				</div>



				<div class="col-md-4">
					<div class="fh5co-portfolio animate-box">
						<a href="#">
							<div class="portfolio-entry" style="background-image: url(images/shef.jpg);">
								<div class="desc">
									<p>Лучшие кулинарные курсы и школы с радостью научат Вас всем премудростям готовки.
									</p>
								</div>
							</div>
							<div class="portfolio-text text-center">
								<h3>Кулинарное дело</h3>
							</div>
						</a>
					</div>
				</div>


				<div class="col-md-4">
					<div class="fh5co-portfolio animate-box">
						<a href="#">
							<div class="portfolio-entry" style="background-image: url(images/photo.jpg);">
								<div class="desc">
									<p>В этом разделе Вы сможете узнать о искусстве видеосъемки, киноискусстве и работе
										на телевидение.</p>
								</div>
							</div>
							<div class="portfolio-text text-center">
								<h3>Фото и кино</h3>
							</div>
						</a>
					</div>
				</div>


			</div>
		</div>
	</div>
</section>