
	<section id="fh5co-hobby" data-section="hobby">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="animate-box">Выбери занятие себе по душе</h2>
				</div>
			</div>
		</div>
		<div class="fh5co-project">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="fh5co-portfolio animate-box">
							<a href="/sportAll">
								<div class="portfolio-entry" style="background-image: url(images/sport.jpg);">
									<div class="desc">
										<p>В каталоге собраны оранизации, помогающие приобщиться 
											к различным видам спорта на любой вкус</p>
									</div>
								</div>
								<div class="portfolio-text text-center">
									<h3>Спорт</h3>
								</div>
							</a>
						</div>
					</div>
					<div class="col-md-4">
						<div class="fh5co-portfolio animate-box">
							<a href="/artAll">
								<div class="portfolio-entry" style="background-image: url(images/art.jpg);">
									<div class="desc">
										<p>Описание Описание Описание Описание Описание Описание </p>
									</div>
								</div>
								<div class="portfolio-text text-center">
									<h3>Рисование и творчество</h3>
									
								</div>
							</a>
						</div>
					</div>
					<div class="col-md-4">
						<div class="fh5co-portfolio animate-box">
							<a href="#">
								<div class="portfolio-entry" style="background-image: url(images/gon.jpg);">
									<div class="desc">
										<p>Описание Описание Описание Описание Описание Описание .</p>
									</div>
								</div>
								<div class="portfolio-text text-center">
									<h3>Гончарное дело</h3>
									
								</div>
							</a>
						</div>
					</div>
					<div class="col-md-4">
						<div class="fh5co-portfolio animate-box">
							<a href="#">
								<div class="portfolio-entry" style="background-image: url(images/dance.jpg);">
									<div class="desc">
										<p>Описание Описание Описание Описание Описание Описание </p>
									</div>
								</div>
								<div class="portfolio-text text-center">
									<h3>Танцы</h3>
									
								</div>
							</a>
						</div>
					</div>
					<div class="col-md-4">
						<div class="fh5co-portfolio animate-box">
							<a href="#">
								<div class="portfolio-entry" style="background-image: url(images/lan.jpg);">
									<div class="desc">
										<p>Описание Описание Описание Описание Описание Описание Описание </p>
									</div>
								</div>
								<div class="portfolio-text text-center">
									<h3>Иностранные языки</h3>
									
								</div>
							</a>
						</div>
					</div>
					<div class="col-md-4">
						<div class="fh5co-portfolio animate-box">
							<a href="#">
								<div class="portfolio-entry" style="background-image: url(images/photo.jpg);">
									<div class="desc">
										<p>Описание Описание Описание Описание Описание </p>
									</div>
								</div>
								<div class="portfolio-text text-center">
									<h3>Фото и кино</h3>
									
								</div>
							</a>
						</div>
					</div>

					<div class="col-md-4">
						<div class="fh5co-portfolio animate-box">
							<a href="#">
								<div class="portfolio-entry" style="background-image: url(images/mus.jpg);">
									<div class="desc">
										<p>Описание Описание Описание Описание Описание Описание </p>
									</div>
								</div>
								<div class="portfolio-text text-center">
									<h3>Музыка</h3>
									
								</div>
							</a>
						</div>
					</div>
					<div class="col-md-4">
						<div class="fh5co-portfolio animate-box">
							<a href="#">
								<div class="portfolio-entry" style="background-image: url(images/shef.jpg);">
									<div class="desc">
										<p>Описание Описание Описание Описание Описание Описание Описание </p>
									</div>
								</div>
								<div class="portfolio-text text-center">
									<h3>Кулинарное дело</h3>
									
								</div>
							</a>
						</div>
					</div>
					<div class="col-md-4">
						<div class="fh5co-portfolio animate-box">
							<a href="#">
								<div class="portfolio-entry" style="background-image: url(images/dec.jpg);">
									<div class="desc">
										<p>Описание Описание Описание Описание Описание Описание Описание </p>
									</div>
								</div>
								<div class="portfolio-text text-center">
									<h3>Дизайн и декор</h3>
									
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>