   <!-- Организации -->
   <section style="padding: 0 0 30px;">

       <body onLoad="loadCarts();">
           <div class="foo">
               <section class="container">
                   <div class="row"> 
                       <div class="orgs"> </div>
                       <section id="fh5co-allHobby" data-section="allHobby"> </section>
                   </div>

                   <div class="row">
                       <div class="col-md-4 col-md-offset-9">
                           <a href="#" class="archive" id="loadMore">Показать еще</a>

                           <a href="#" class="archive" id="backFromSport" style='Margin-left: 30px'>Назад</a>
                       </div>
                   </div>
               </section>
           </div>


           <script>
               //показать еще 
               function loadCarts() {
                   $(".cart:hidden").slice(0, 3).show();
               }
               $(function more() {

                   $("#loadMore").on('click', (e) => {
                       e.preventDefault();
                       $("div.cart:hidden").slice(0, 3).slideDown();
                   })
               });
           </script>


           <script>
               backFromSport()
           </script>

           <!-- Поиск -->
           <script>
               search()
           </script>

   </section>