   <!-- Организации -->

   <body onLoad="loadCarts();">
       <div class="foo">
           <section class="container">
               <div class="row">
                   <div class="orgs"> </div>
                   <section id="fh5co-hobby" data-section="hobby"> </section>
               </div>
               <a href="#" class="archive" id="loadMore">Показать еще</a>

               <a href="#" class="archive" id="backFromSport">Назад</a>
           </section>
       </div>


       <script>
           //показать еще 
           function loadCarts() {
               $(".cart:hidden").slice(0, 3).show();
           }
           $(function more() {

               $("#loadMore").on('click', (e) => {
                   e.preventDefault();
                   $("div.cart:hidden").slice(0, 3).slideDown();
               })
           });
       </script>


       <script>
           backFromSport()
       </script>

       <!-- Поиск -->
       <script>
           search()
       </script>

       