<div id="fh5co-footer" role="contentinfo">
    <div class="container">
        <div class="row">
            <div class="col-md-4 animate-box">
                <h3 class="section-title">О нас</h3>
                <p>Данный информационный ресурс разработан с целью организации всех занятий в одном месте </p>

            </div>

            <div class="col-md-4 animate-box">
                <h3 class="section-title">Для организаций:</h3>
                <a href="/contact" class="demo animate-box"> Добавить свою организацию</a>
                <h3 class="section-title">Связь</h3>
                <p>Вы можете связаться с нами по адрему hobby@gmail.com </p>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="copy-right">&copy; Суязова Елена. 2019г   <br>

                    

                
                    

                </p>
            </div>
        </div>
    </div>
</div>