<div id="fh5co-footer" role="contentinfo" style="padding: 50px 0 80px;">
    <div class="container">
        <div class="row">

            <div class="col-md-4 animate-box">
                <h3 class="section-title" align="center">О нас</h3>
                <hr align="center" width="357" />
                <p align="justify" class="contactDescr">Данный информационный ресурс разработан с целью организации всех
                    занятий в одном месте </p>
            </div>

            <div class="col-md-4 animate-box">
                <h3 class="section-title" align="center">Для организаций:</h3>
                <hr align="center" width="357" />
                <p align="justify" class="contactDescr"> Вы можете
                    <a href="/contact" class="demo animate-box"> добавить свою организацию</a>
                    на наш сайт. </p>
            </div>


            <div class="col-md-4 animate-box">
                <h3 class="section-title" align="center">Связь</h3>
                <hr align="center" width="357" />
                <p align="justify" class="contactDescr">Вы можете связаться с нами по адресу allHobby@gmail.com </p>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="copy-right" class="contactDescr">&copy; Суязова Елена. 2019г <br>
                </p>
            </div>
        </div>
    </div>
</div>