<header role="banner" id="headerH">
		<div class="container">
			<div class="row">
				<nav class="navbar navbar-default navbar-fixed-top">
					<div class="navbar-header">
						<!-- Mobile Toggle Menu Button -->
						<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar"
							aria-expanded="false" aria-controls="navbar"><i></i></a>
						<a class="navbar-brand" href="/">НСХ</a>
					</div>
					
					<div id="navbar" class="navbar-collapse collapse">
						<ul class="nav navbar-nav navbar-right">
							<!--Прописать ссылки на главную по тегу или классу на странице индекс-->
							<li class="active"><a href="#" data-nav-section="glavn"><span>Поиск</span></a></li>
							<li><a href="#" data-nav-section="hobby"><span>Все занятия</span></a></li>
							<li><a href="#" data-nav-section="izbr"><span>Избранное</span></a></li>

                        </ul></div>
                        


 <!---- <input type="text" id="find">

  <script> document.getElementById('find').value = 5</script>-->
  
   <!------------------------------------------------------------------------------------->                      
				</nav>
			</div>
		</div>
	</header>