



<section  style="padding: 25px 0 50px;" > 
   
  <div class="container">
    <div class="row">
      <div class="col-md-5">

        <!----Ключевые слова------>
        <form action=" " class="search_name">
          <input type="text" id="IDsearch" placeholder="Танцы" autofocus" class="input_btn"
            style="width: 450px; height: 37px">
        </form>
      </div>
      
      <!----Метро------>
      <div class="col-md-3">
        
        <input name="metro" type="text" id="IDsearch2" style="display:none" />
        <select id="metroId" style="width: 250px; height: 37px">

          <!----оранжевая ветка------>
          <option value="">Метро</option>
          <option value="Улица Дыбенко">Улица Дыбенко</option>
          <option value="Проспект Большевиков">Проспект Большевиков</option>
          <option value="Ладожская">Ладожская</option>
          <option value="Новочеркасская">Новочеркасская</option>
          <option value="Площадь Александра Невского">Площадь Александра Невского</option>
          <option value="Лиговский проспект">Лиговский проспект</option>
          <option value="Достоевская">Достоевская</option>
          <option value="Спасская">Спасская</option>

          <!------фиолетовая ветка----------->
          <option value="Международная">Международная</option>
          <option value="Бухарестская">Бухарестская</option>
          <option value="Волковская">Волковская</option>
          <option value="Обводный канал">Обводный канал</option>
          <option value="Звенигородская">Звенигородская</option>
          <option value="Садовая">Садовая</option>
          <option value="Адмиралтейская">Адмиралтейская</option>
          <option value="Спортивная">Спортивная</option>
          <option value="Чкаловская">Чкаловская</option>
          <option value="Крестовский остров">Крестовский остров</option>
          <option value="Старая Деревня">Старая Деревня</option>
          <option value="Комендантский проспект">Комендантский проспект</option>

          <!-------заленая ветка---------->
          <option value="Рыбацкое">Рыбацкое</option>
          <option value="Обухово">Обухово</option>
          <option value="Пролетарская">Пролетарская</option>
          <option value="Ломоносовская">Ломоносовская</option>
          <option value="Елизаровская">Елизаровская</option>
          <option value="Маяковская">Маяковская</option>
          <option value="Гостиный двор">Гостиный двор</option>
          <option value="Василеостровская">Василеостровская</option>
          <option value="Приморская">Приморская</option>
          <option value="Новокрестовская">Новокрестовская</option>
          <option value="Беговая">Беговая</option>


          <!-----синяя ветка------------>
          <option value="Купчино">Купчино</option>
          <option value="Звёздная">Звёздная</option>
          <option value="Московская">Московская</option>
          <option value="Парк Победы">Парк Победы</option>
          <option value="Электросила">Электросила</option>
          <option value="Московские ворота">Московские ворота</option>
          <option value="Фрунзенская">Фрунзенская</option>
          <option value="Технологический институт">Технологический институт</option>
          <option value="Сенная площадь">Сенная площадь</option>
          <option value="Невский проспект">Невский проспект</option>
          <option value="Горьковская">Горьковская</option>
          <option value="Петроградская">Петроградская</option>
          <option value="Чёрная речка">Чёрная речка</option>
          <option value="Пионерская">Пионерская</option>
          <option value="Удельная">Удельная</option>
          <option value="Озерки">Озерки</option>
          <option value="Проспект Просвещения">Проспект Просвещения</option>
          <option value="Парнас">Парнас</option>


          <!-----красная ветка------------>
          <option value="Проспект Ветеранов">Проспект Ветеранов</option>
          <option value="Ленинский проспект">Ленинский проспект</option>
          <option value="Автово">Автово</option>
          <option value="Кировский завод">Кировский завод</option>
          <option value="Нарвская">Нарвская</option>
          <option value="Балтийская">Балтийская</option>
          <option value="Пушкинская">Пушкинская</option>
          <option value="Владимирская">Владимирская</option>
          <option value="Площадь Восстания">Площадь Восстания</option>
          <option value="Чернышевская">Чернышевская</option>
          <option value="Площадь Ленина">Площадь Ленина</option>
          <option value="Выборгская">Выборгская</option>
          <option value="Лесная">Лесная</option>
          <option value="Площадь Мужества">Площадь Мужества</option>
          <option value="Политехническая">Политехническая</option>
          <option value="Академическая">Академическая</option>
          <option value="Гражданский проспект">Гражданский проспект</option>
          <option value="Девяткино">Девяткино</option>

        </select>
      </div>


      <!---------Возраст----------------------->
      <div class="col-md-2">
        <input name="age" type="text" id="IDsearch3" style="display:none" />
        <select id="ageId" style="width: 153px; height: 37px">
          <option value="">Все</option>
          <option value="дети">Дети</option>
          <option value="взрослые">Взрослые</option>
          <option value="60+">60+</option>
        </select>
      </div>

      <div class="col-md-2">
        <button id="btnSearch" class="btnSearchs" style="width: 155px; height: 37px"> Применить </button>
      </div>
    </div>
</section>



<script>
  getMetro();

  getAge();
</script>