<section id="fh5co-hobby" data-section="hobby">
        
    <div class="fh5co-project">
        
                    <!---------------------------Ключевые слова------------------------------------------------------>	
                            
                    <form   action=" "     class="search_name">      
                            <input type="text" id="IDsearch" placeholder="Танцы"  autofocus" class="input_btn" > 
                   </form>
                  <!--------------------------------------------------------------------------------->          
                              
     <!---------------------------Метро------------------------------------------------------>					 	
     <input    name="metro" type="text" id="IDsearch2" style="display:none"/>
     <select id="metroId">
        <option value="">Метро</option>
        <option value="Ладожская">Ладожская</option>
        <option value="Кировский завод">Кировский завод</option>
        <option value="Дыбенко">Дыбенко</option>
        <option value="Обводный канал">Обводный канал</option>
         
     </select>
      
       <script>$('select#metroId').on('change', function() {
             $('input[name="metro"]').val(this.value);
           });</script> 
                                
                                
     <!-----------------------------кукуку---------------------------------------------------->
    
     <input    name="age" type="text" id="IDsearch3"  style="display:none" />
     <select id="ageId">
        <option value="">Все</option>
        <option value="дети">Дети</option>
        <option value="взрослые">Взрослые</option>
        <option value="60+">60+</option>
      
         
     </select>
        <button id="btnSearch"> Поиск </button>
       <script>$('select#ageId').on('change', function() {
             $('input[name="age"]').val(this.value);
           });</script> 
      
    </div>
</section>

 